@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --pcolor: #f4c123;
  --secondcolor: #1576d6;
  --pfont: "Barlow", sans-serif;
  --textcolor: #25292c;
  --sectextcolor: #fffffc;
  --secbgcolor: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--pfont);
}

.main--width {
  margin: auto;
  width: 85%;
}

nav {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .logo {
    width: 157px;
    height: 24px;
    display: flex;
    gap: 1px;
    justify-content: center;
    align-items: center;

    span {
      font-weight: 400;
      color: var(--textcolor);
      font-size: 18px;
    }
  }

  .nav__list {
    width: 467px;
    height: 19px;

    ul {
      list-style: none;
      display: flex;
      gap: 48px;
      flex-wrap: wrap;

      li {
        font-weight: 400;
        color: var(--textcolor);
        font-size: 16px;
      }
    }
  }

  .nav__button {
    width: 184px;
    height: 40px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    .nav--register {
      width: 94px;
      height: 100%;
      border: 1px solid var(--secondcolor);
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        background: none;
        border: none;
        font-weight: 500;
        color: var(--secondcolor);
        font-size: 15px;
        cursor: pointer;
      }
    }

    .nav--sign-in {
      width: 82px;
      height: 100%;
      border-radius: 6px;
      background-color: var(--secondcolor);
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        background: none;
        border: none;
        font-weight: 500;
        color: var(--sectextcolor);
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}

header {
  height: 500px;
  margin-top: 12px;
  background: url("../images/89fa2b06f05ea716209b4ede5a3107407feb60d4.png")
    rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -100px;
  background-blend-mode: color;
  border-radius: 10px;
  position: relative;

  .header__content {
    height: 114px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    position: absolute;
    top: 190px;
    left: 330px;

    span {
      font-weight: 700;
      color: var(--sectextcolor);
      font-size: 32px;
    }

    p {
      font-weight: 400;
      color: var(--sectextcolor);
      font-size: 20px;
      letter-spacing: 2%;
    }
  }

  .header__filters {
    width: 1030px;
    height: 64px;
    border-radius: 8px;
    background-color: var(--sectextcolor);
    position: absolute;
    top: 468px;
    left: 135px;
    box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .location--filter {
      width: 260px;
      height: 43px;
      border-radius: 4px;
      background-color: var(--secbgcolor);
      display: flex;
      align-items: center;
      position: relative;

      .location--filter__content {
        width: 172px;
        height: 20px;
        display: flex;
        gap: 10px;
        position: absolute;
        left: 12px;

        span {
          font-weight: 400;
          color: var(--textcolor);
          font-size: 14px;
          letter-spacing: 2%;
        }
      }
    }

    .check-in-date--filter {
      width: 170px;
      height: 43px;
      border-radius: 4px;
      background-color: var(--secbgcolor);
      display: flex;
      align-items: center;
      position: relative;

      .check-in-date--filter__content {
        width: 135px;
        height: 20px;
        display: flex;
        gap: 10px;
        position: absolute;
        left: 12px;

        span {
          font-weight: 400;
          color: var(--textcolor);
          font-size: 14px;
          letter-spacing: 2%;
        }
      }
    }

    .check-out-date--filter {
      width: 170px;
      height: 43px;
      border-radius: 4px;
      background-color: var(--secbgcolor);
      display: flex;
      align-items: center;
      position: relative;

      .check-out-date--filter__content {
        width: 135px;
        height: 20px;
        display: flex;
        gap: 10px;
        position: absolute;
        left: 12px;

        span {
          font-weight: 400;
          color: var(--textcolor);
          font-size: 14px;
          letter-spacing: 2%;
        }
      }
    }

    .guests--filter {
      width: 210px;
      height: 43px;
      border-radius: 4px;
      background-color: var(--secbgcolor);
      display: flex;
      align-items: center;
      position: relative;

      .guests--filter__content {
        width: 170px;
        height: 20px;
        display: flex;
        gap: 10px;
        position: absolute;
        left: 12px;

        span {
          font-weight: 400;
          color: var(--textcolor);
          font-size: 14px;
          letter-spacing: 2%;
        }
      }
    }

    .header--search-btn {
      width: 148px;
      height: 44px;
      border-radius: 6px;
      background-color: var(--secondcolor);
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: 12px 18px;
        background: none;
        border: none;
        font-weight: 500;
        color: var(--sectextcolor);
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}

.warning {
  height: 72px;
  border-radius: 8px;
  background-color: #f4c123;
  margin-top: 82px;
  display: flex;
  align-items: center;
  position: relative;

  .warning__content {
    width: 541px;
    height: 32px;
    display: flex;
    gap: 19px;
    align-items: center;
    position: absolute;
    left: 24px;

    span {
      font-weight: 400;
      color: #333333;
      font-size: 16px;
      letter-spacing: 2%;
    }

    a {
      color: var(--secondcolor);
      text-decoration: none;
    }
  }
}

.advantages {
  height: 296px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .advantages__label {
    width: 19%;
    height: 15%;
    display: flex;
    align-items: center;

    span {
      font-weight: 600;
      font-size: 28px;
      color: var(--textcolor);
    }
  }

  .advantages__icons {
    width: 100%;
    height: 25%;
    display: flex;
    gap: 270px;
    position: absolute;
    top: 30%;
    left: 5%;
  }

  .advantages__content {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    gap: 73px;
    position: relative;

    .content__item {
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 14px;
      margin-left: 2%;

      span {
        font-weight: 500;
        font-size: 18px;
        color: var(--textcolor);
      }

      p {
        font-weight: 400;
        font-size: 15px;
        color: var(--textcolor);
      }
    }
  }
}

.tours {
  height: 403px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 30px;

  .tours__label {
    display: flex;
    flex-direction: column;
    gap: 16px;

    span {
      font-weight: 600;
      font-size: 28px;
      color: var(--textcolor);
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: #333333;
    }
  }

  .tours__cards {
    width: 100%;
    height: 62%;
    display: flex;
    gap: 20px;

    .card__item {
      width: 24%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 14px;

      .card--img {
        width: 100%;
        height: 88%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
        }
      }

      .card--details {
        display: flex;
        flex-direction: column;
        gap: 6px;

        span {
          color: var(--textcolor);
          font-weight: 600;
          font-size: 20px;
        }

        p {
          font-weight: 400;
          color: var(--textcolor);
          font-size: 14px;
        }
      }
    }
  }
}

.inspiration {
  height: 336px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;

  .inspiration__label {
    span {
      font-weight: 600;
      font-size: 28px;
      color: var(--textcolor);
    }
  }

  .inspiration__content {
    width: 100%;
    height: 83%;
    display: flex;
    gap: 20px;

    .card {
      width: 33%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: end;
      border-radius: 8px;

      span {
        font-weight: 600;
        font-size: 20px;
        color: var(--sectextcolor);
        padding-left: 20px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        color: var(--sectextcolor);
        padding-left: 20px;
        padding-bottom: 20px;
      }
    }

    .card:nth-child(1) {
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        url("../images/sydney-harbor-front.jpg");

      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
    }

    .card:nth-child(2) {
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        url("../images/restaurant.jpg");

      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
    }

    .card:nth-child(3) {
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        url("../images/green-mountains-with-cloudy-sky.jpg");

      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
    }
  }
}

.hotels {
  height: 417px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 24px;

  .hotels__label {
    span {
      font-weight: 600;
      font-size: 28px;
      color: var(--textcolor);
    }
  }

  .hotels__cards {
    width: 100%;
    height: 87%;
    display: flex;
    gap: 14px;

    .card__item {
      width: 24%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 14px;

      .card--img {
        width: 100%;
        height: 83%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
        }
      }

      .card--details {
        display: flex;
        flex-direction: column;
        gap: 6px;

        span {
          color: var(--textcolor);
          font-weight: 600;
          font-size: 20px;
        }

        p {
          font-weight: 400;
          color: var(--textcolor);
          font-size: 14px;
        }
      }
    }
  }
}

.activities {
  height: 595px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 60px;

  .activities__label {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left--item {
      align-self: flex-start;

      span {
        font-weight: 600;
        font-size: 28px;
        color: var(--textcolor);
      }
    }

    .right--item {
      align-self: flex-end;

      span {
        font-weight: 400;
        font-size: 28px;
        color: var(--textcolor);
      }
    }
  }

  .activities__cards {
    width: 100%;
    height: 86%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;

    .card {
      display: flex;
      align-items: end;
      border-radius: 12px;

      span {
        font-weight: 500;
        font-size: 28px;
        color: var(--sectextcolor);
        padding-left: 30px;
        padding-bottom: 30px;
      }
    }

    .card:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
      background: linear-gradient(
          180deg,
          rgba(5, 7, 60, 0) 0%,
          rgba(5, 7, 60, 0.5) 100%
        ),
        url("../images/cruise.png");

      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
    }

    .card:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
      background: linear-gradient(
          180deg,
          rgba(5, 7, 60, 0) 0%,
          rgba(5, 7, 60, 0.5) 100%
        ),
        url("../images/musum-tour.png");

      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
    }

    .card:nth-child(3) {
      grid-column: 2/4;
      grid-row: 1/3;
      background: linear-gradient(
          180deg,
          rgba(5, 7, 60, 0) 0%,
          rgba(5, 7, 60, 0.5) 100%
        ),
        url("../images/beach-tours.png");

      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
    }

    .card:nth-child(4) {
      grid-column: 4/6;
      grid-row: 1/2;
      background: linear-gradient(
          180deg,
          rgba(5, 7, 60, 0) 0%,
          rgba(5, 7, 60, 0.5) 100%
        ),
        url("../images/city-tours.png");

      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
    }

    .card:nth-child(5) {
      grid-column: 4/5;
      grid-row: 2/3;
      background: linear-gradient(
          180deg,
          rgba(5, 7, 60, 0) 0%,
          rgba(5, 7, 60, 0.5) 100%
        ),
        url("../images/food.png");

      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
    }

    .card:nth-child(6) {
      grid-column: 5/6;
      grid-row: 2/3;
      background: linear-gradient(
          180deg,
          rgba(5, 7, 60, 0) 0%,
          rgba(5, 7, 60, 0.5) 100%
        ),
        url("../images/hiking.png");

      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
    }
  }
}

.footprints {
  height: 355px;
  display: flex;
  flex-direction: column;
  gap: 91px;
  margin-top: 60px;

  .footprints__label {
    span {
      font-weight: 600;
      font-size: 28px;
      color: var(--textcolor);
    }
  }
  .footprints__content {
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    gap: 29px;

    .icons {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .icons--item {
        width: 5%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .icons--item:nth-child(2) {
        padding-left: 20px;
      }

      .icons--item:nth-child(3) {
        padding-left: 25px;
      }
    }

    .details {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .details--item {
        display: flex;
        flex-direction: column;
        gap: 23px;

        span {
          font-weight: 700;
          font-size: 38px;
          color: var(--textcolor);
          text-align: center;
        }

        p {
          font-weight: 400;
          font-size: 15px;
          color: var(--textcolor);
          text-align: center;
        }
      }
    }
  }
}

.mobile-app-download {
  position: relative;
  height: 280px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  z-index: 0;

  .content {
    width: 55%;
    height: 54%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 69px;

    .content__details {
      span {
        font-weight: 600;
        font-size: 28px;
        color: var(--sectextcolor);
      }
    }

    .content_button {
      width: 31%;
      height: 29%;
      border-radius: 6px;
      background-color: var(--secondcolor);
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: 12px 18px;
        background: none;
        border: none;
        font-weight: 500;
        color: var(--sectextcolor);
        font-size: 15px;
        cursor: pointer;
      }
    }
  }

  .ad-image {
    width: 58%;
    height: 200%;
    transform: rotate(-15deg);
    display: flex;
    justify-content: center;
    padding-top: 70px;
    /* align-items: center; */

    img {
      width: 100%;
      height: 100;
    }
  }
}

/* flipped background */
.mobile-app-download::before {
  content: "";
  position: absolute;
  inset: 0; /* shorthand: top/right/bottom/left: 0 */
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/beach-nusa-penida.jpg");

  background-size: cover;
  background-position: center 25%;
  background-blend-mode: overlay;
  transform: scaleX(-1); /* flip horizontally */
  z-index: -1; /* push behind content */
}

footer {
  width: 100%;
  height: 510px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  .content {
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 248, 210);
    justify-content: space-around;
    align-items: center;

    .contetn__label {
      display: flex;
      flex-direction: column;
      gap: 16px;

      span {
        font-weight: 600;
        font-size: 28px;
        color: var(--textcolor);
        text-align: center;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        color: var(--secondcolor);
        text-align: center;
      }
    }

    .info {
      width: 100%;
      height: 45%;
      display: flex;
      justify-content: space-around;

      .logo {
        width: 16%;
        height: 32%;
        display: flex;
        flex-direction: column;
        gap: 6px;

        .logo--top {
          display: flex;
          gap: 1px;

          span {
            font-weight: 400;
            color: var(--textcolor);
            font-size: 18px;
          }
        }

        .logo--bottom {
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-weight: 400;
            font-size: 14px;
            color: #6c757d;
            padding-left: 28px;
          }
        }
      }

      .company {
        width: 6%;
        height: 76%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-weight: 500;
          font-size: 16px;
          color: var(--textcolor);
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            a {
              cursor: pointer;
              text-decoration: none;
              font-weight: 400;
              font-size: 14px;
              color: #6c757d;
            }
          }
        }
      }

      .explore {
        width: 14%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 21px;

        span {
          font-weight: 500;
          font-size: 16px;
          color: var(--textcolor);
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            a {
              cursor: pointer;
              text-decoration: none;
              font-weight: 400;
              font-size: 14px;
              color: #6c757d;
            }
          }
        }
      }

      .terms-and-policies {
        width: 11%;
        height: 63%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-weight: 500;
          font-size: 16px;
          color: var(--textcolor);
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            a {
              cursor: pointer;
              text-decoration: none;
              font-weight: 400;
              font-size: 14px;
              color: #6c757d;
            }
          }
        }
      }

      .help {
        width: 15%;
        height: 76%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-weight: 500;
          font-size: 16px;
          color: var(--textcolor);
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            a {
              cursor: pointer;
              text-decoration: none;
              font-weight: 400;
              font-size: 14px;
              color: #6c757d;
            }
          }
        }
      }
    }
  }

  .sign {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #f6f3ef;

    .sign__content {
      width: 10%;
      height: 50%;
      display: flex;
      gap: 2px;
      margin-right: 205px;
      span {
        font-weight: 400;
        font-size: 14px;
        color: #6c757d;
        padding-top: 2px;
      }
    }
  }
}
