:root {
  --main-color: #0e9;
  --container-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  background-color: var(--main-color);
}

.bg-col-wh {
  background-color: var(--container-color);
}

body {
  padding: 0 20px;
}

nav {
  width: 100%;
  height: 15vh;
  background-color: var(--main-color);
  margin: 20px 0;
}

.content {
  display: flex;
  gap: 20px;

  .left-section {
    width: 6%;
    height: 80vh;
  }
  .middle-section {
    width: 88%;
    height: 100vh;

    .middle-section__container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .feed {
        width: 100%;
        height: 12.5%;
        display: flex;
        gap: 20px;

        .feed__right-item {
          width: 95%;
          height: 100%;
        }

        .feed__left-item {
          width: 5%;
          height: 100%;
        }
      }
    }
  }
  .right-section {
    width: 6%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .right-section__top-item {
      width: 100%;
      height: 40%;
    }
    .right-section__bottom-item {
      width: 100%;
      height: 60%;
    }
  }
}

footer {
  width: 100%;
  height: 5vh;
  margin-top: 20px;

  div {
    height: 100%;
  }
}
